footer{
    width: 100%;
    padding: 50px 0px;
    border-top: 1px solid $elite;
    
    .inner{
        width: 1180px; 
        margin: 0 auto;
        // border: 1px solid red;
        position: relative;
        color: $standard;

        .logo{ width: 80px;}
        .wrap{
            width: 100%;
            padding: 30px 0;
            padding-bottom: 100px;
            // border: 1px solid red;

            &::after{
                content: '';
                display: block;
                clear: both;
            }            
            article{
                float: left;
                width: 50%;
                // border: 1px solid red;
                &:nth-child(1){
                    h2{
                        font: normal 30px/1.4 'arial';
                        margin-bottom: 30px;
                    }
                    ul{
                        li{
                            font: normal 14px/1 'arial';
                            padding: 5px 0;
                        }
                    }
                }
                &:nth-child(2){
                    ul{
                        float: left;
                        margin-right: 100px;
                        h3{
                            font: normal 16px/1 'arial';
                            color: #565656;
                            margin-bottom: 20px;
                        }
                        li{
                            font: normal 14px/1 'arial';
                            padding: 10px 0;
                        }
                    }
                }
            }            
        }

        .copyright{
            padding: 20px 0;
            position: relative;

            &::after{
                content: '';
                display: block;
                clear: both;
            }

            span{
                font: 14px/1 'arial';
                letter-spacing: 1px;
            }
            .terms{
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                li{
                    float: left;
                    font: 14px/1 arial;
                    padding: 0 20px;
                }
            }
            .sns{
                float: right;
                li{
                    float: left;
                    padding-left: 40px;

                    svg{font-size: 20px;}
                }
            }
        }
    }
}


// 890px ~ 1179px
@media screen and(max-width: $tablet){
    footer{
        padding: 30px 0px;
        padding-bottom: 0;
        .inner{
            width: 100%; 
            padding: 0 30px;
    
            .logo{ width: 60px;}
            .wrap{
                width: 100%;
                padding: 30px 0;
                padding-bottom: 50px;
             
                article{
                    width: 50%;
                    &:nth-child(1){
                        h2{font-size: 25px;}
                        ul{
                            li{font-size: 12px;}
                        }
                    }
                    &:nth-child(2){
                        ul{
                            margin-right: 50px;
                            h3{font-size: 14px;}
                            li{font-size: 12px;}
                        }
                    }
                }            
            }
    
            .copyright{
                padding: 30px 0;
    
                span{ font-size: 12px;}
                .terms{
                    li{ padding: 0 10px; }
                }
                .sns{
                    li{
                        padding-left: 20px;
                        svg{font-size: 15px;}
                    }
                }
            }
        }
    }
}

// 750px ~ 889px
@media screen and(max-width: 889px){
    footer{
        .inner{
            padding: 0 20px;

            .wrap{
                padding-bottom: 0px;
                padding: 20px 0;
                article{
                    &:nth-child(1){
                        width: 45%;
                        h2{font-size: 22px;}
                        ul{
                            li{font-size: 12px;}
                        }
                    }
                    &:nth-child(2){
                        width: 55%;
                        ul{
                            margin-right: 50px;
                            &:last-child{margin-right: 0;}
                            li{padding: 5px;}
                        }
                    }
                }            
            }
    
            .copyright{
                padding-top: 30px;
    
                span{ font-size: 10px;}
                .terms{
                    li{ font-size: 12px; }
                }
                .sns{
                    li{
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

// 540px ~ 749px
@media screen and(max-width: $mobile){
    footer{
        padding: 20px 0px;

        .inner{    
            .logo{ width: 50px;}
            .wrap{
                padding: 10px 0;
                padding-bottom: 20px;
             
                article{
                    width: 100%;
                    &:nth-child(1){
                        width: 100%;
                        margin-bottom: 30px;
                        h2{font-size: 25px;margin-bottom: 10px;}
                        ul{
                            margin-bottom: 20px;
                            float: left;
                            li{font-size: 12px;float: left;padding-right: 10px;}
                        }
                    }
                    &:nth-child(2){
                        width: 100%;
                        ul{
                            width: 100%;
                            margin-right: 0px;
                            padding: 0;
                            margin-bottom: 20px;
                            h3{margin-bottom: 10px;}
                            li{
                                font-size: 12px;
                                float: left;
                            }
                        }
                    }
                }            
            }
    
            .copyright{
                padding: 0 2vw;
                span{font-size: 10px;}
                .terms{display: none;}
                .sns{
                    li{
                        svg{font-size: 12px;}
                    }
                }
            }
        }
    }
}


// ~539px
@media screen and(max-width: 539px){
    footer{
        .inner{    
            .wrap{
                article{
                    &:nth-child(1){
                        h2{font-size: 20px;}
                        ul{
                            li{font-size: 10px;}
                        }
                    }
                    &:nth-child(2){
                        ul{
                            li{font-size: 10px;}
                        }
                    }
                }            
            }
            .copyright{
                padding: 0;
                .sns{
                    li{ padding-left: 20px;}
                }
            }
        }
    }
}