.community{
    .inner{
        padding-top: 50px;
        padding-bottom: 200px;
        section{
            padding: 0;
            #board{
                height: 900px;
                border-top: 2px solid #ffb95083;
                border-bottom: 2px solid #ffb95083;
                padding: 20px 0px;
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }
                // 입력창
                .inputBox{
                    width: 30%;
                    height: 375px;
                    padding: 0 20px;
                    float: left;

                    .wrap{
                        padding: 20px;
                        border: 1px solid $elite;
                        input{
                            width: 100%;
                            height: 30px;
                            padding: 10px;
                            margin-bottom: 20px;
                        }
                        textarea{
                            width: 100%;
                            height: 200px;
                            resize: none;
                            padding: 10px;
                            margin-bottom: 20px;

                        }
                        .inputBtns{
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            button{
                                width: 120px;
                                height: 30px;
                                font:bold 12px/32px $subfont;
                                color: #fff;
                                letter-spacing: 1px;
                                background: $onblackbg;
                                border: none;
                                transition: .5s;
                                opacity: .9;

                                &:hover{ opacity: 1;}
                            }                    
                        }

                    }
                    
                }

                // 출력창
                .showList{
                    width: 70%;
                    padding: 0 20px;
                    float: right;
                    height: 100%;
                    
                    border-left: 1px solid $elite;
                    .wrap{
                        height: 100%;
                        border: 1px solid $elite;
                        padding: 20px;
                        overflow-y: scroll;
                        // 출력된 아티클들 속성
                        article{
                            width: 100%;
                            padding: 30px 40px;
                            margin-bottom: 30px;
                            background: rgba(75, 75, 75, 0.3);

                            .post{
                                // 초기화면
                                h2{
                                    font: bold 20px/30px 'arial';
                                    color: $standard;
                                    text-indent: 10px;
                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 60%;
                                        height: 1px;
                                        background: $onblackbg;
                                        margin-top: 10px;
                                        opacity: .5;
                                    }
                                }
                                p{
                                    font: 300 16px/1.6 '$subfont';
                                    width: 80%;
                                    color: $whitebg;
                                    padding: 10px 15px;
                                    margin-bottom: 20px;
                                }

                                //수정화면
                                input{
                                    width: 50%;
                                    font: normal 14px/1 $subfont;
                                    color: $whitebg;
                                    margin-bottom: 10px;
                                    padding: 10px;
                                    border: none;
                                    background: rgba(75, 75, 75, 0.4);
                                }
                                textarea{
                                    width: 100%;
                                    height: 120px;
                                    font: normal 14px/1.4 $subfont;
                                    padding: 10px;
                                    margin-bottom: 20px;
                                    resize: none;
                                    border: none;
                                    background: rgba(75, 75, 75, 0.4);
                                    color: $standard;
                                }
                            }
                            
                            // 수정 & 삭제버튼
                            .btns{
                                //초기화면
                                text-align: right;
                                button{
                                    width: 80px;
                                    height: 30px;
                                    margin-left: 20px;
                                    font: 10px/1 'arial';
                                    letter-spacing: 1px;
                                    background: rgba(75, 75, 75, 0.5);
                                    color: $standard;
                                    border: none;
                                    transition: .5s;
            
                                    &:hover{
                                        background: rgba(75, 75, 75, 0.9);
                                    }
                                }
                            }
                        }
                    }

                }                
            }

            >h1{
                font: bold 30px/1 $subfont;
                color: $standard;
                padding: 10px 20px;
                letter-spacing: 1px;
            }
            .mission{
                // border: 1px solid red;
                width: 100%;
                position: relative;
                margin: 100px 0;
                padding: 0 50px;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }
                .video_wrap{
                    // border: 1px solid red;
                    width: 350px;
                    height: 700px;
                    border-radius: 350px 0 0 350px;
                    overflow: hidden;
                    float: left;

                    video{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .txt{
                    // border: 1px solid red;
                    width: calc(100% - 350px);
                    padding-left: 30px;
                    float: right;
                    >span{
                        font: bold 14px/1 $subfont;
                        color: #767676;
                        margin-bottom: 30px;
                        display: block;
                    }
                    >h2{
                        width: 90%;
                        font: normal 40px/1.2 $subfont;
                        color: #e1e1e1;
                        word-break: break-all;
                        margin-bottom: 30px;
                        span{color: $onblackbg;}
                    }
                    p{
                        width: 50%;
                        font: 300 16px/1.6 $subfont;
                        color: #787878;
                    }
                }

                .logo{
                    // border: 1px solid red;
                    float: right;
                    width: 30%;
                    position: relative;
                    margin-top: 80px;

                    &:hover{
                        .logo_wrap{
                            div{
                                opacity: .5;
                                border: none;
                                &:nth-of-type(1){background-color: $red;}
                                &:nth-of-type(2){background-color: $orange;}
                            } 
                        } 
                        a{opacity: 1;}
                    }

                    .logo_wrap{
                        // border: 1px solid red;
                        display: inline-block;
                        width: 110px;
                        height: 70px;
                        position: relative;
                        
                        div{
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            border: 1px solid $standard;
                            position: absolute;
                            transition: ease-in-out 1s;
                            &:nth-of-type(2){right: 0;}
                        }
                    }
                    a{
                        display: inline-block;
                        width: calc(100% - 110px);
                        font: 300 20px/1 $subfont;
                        color: $standard;
                        text-decoration: underline;
                        position: absolute;
                        top: 50%; right: -10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        opacity: .6;
                        transition: 1s;
                    }
                }
            }
            
        }
    }
}