.community{
    .inner{
        section{
            // 입력창
            .inputBox{
                width: 100%;
                padding: 30px;
                margin-bottom: 50px;

                input{
                    width: 100%;
                    height: 30px;
                    padding: 10px;
                    margin-bottom: 20px;
                }
                textarea{
                    width: 100%;
                    height: 200px;
                    resize: none;
                    padding: 10px;
                    margin-bottom: 30px;
                }
                .inputBtns{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    button{
                        width: 250px;
                        height: 30px;
                        font: 12px/1 'arial';
                        letter-spacing: 1px;
                        background: rgba(255, 241, 214, 0.7);
                        border: none;
                        transition: .5s;

                        &:hover{
                            background: rgba(255, 241, 214, 1);
                        }
                    }                    
                }

            }
            // 출력창
            .showList{
                width: 100%;
                padding: 30px;

                article{
                    width: 100%;
                    padding: 30px;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 30px;
                    background: rgba(253, 245, 230, 0.2);

                    .post{
                        // 초기화면
                        h2{
                            font: bold 18px/30px 'arial';
                            color: #555;
                            margin-bottom: 10px;
                        }
                        p{
                            font: normal 14px/1.2 'arial';
                            border-bottom: 1px solid #ddd;
                            padding: 10px;
                            margin-bottom: 20px;
                        }

                        //수정화면
                        input{
                            width: 100%;
                            font: normal 16px/1 'arial';
                            color: #555;
                            margin-bottom: 10px;
                            padding: 10px;
                            border: none;
                            border-bottom: 1px solid #bbb;
                        }
                        textarea{
                            width: 100%;
                            font: normal 14px/1.2 'arial';
                            padding: 10px;
                            margin-bottom: 20px;
                            resize: none;
                            border: none;
                            border-bottom: 1px solid #bbb;
                        }
                    }
                    
                    .btns{
                        //초기화면
                        text-align: right;
                        button{
                            width: 120px;
                            height: 30px;
                            margin-left: 50px;
                            font: 12px/1 'arial';
                            letter-spacing: 1px;
                            background: rgba(255, 241, 214, 0.5);
                            border: 1px solid #fff;
                            transition: .5s;
    
                            &:hover{
                                background: rgba(255, 241, 214, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}