.gallery{
    .subvisual{
        img{
            transform: scaleX(-1);
            opacity: .8;
        }
        
    }
    .inner{
        position: relative;    
        >article{
            width: 100%;
            height: auto;
            padding: 50px 0;
            border: 1px solid red;
        }    

        //검색박스
        >.search{
            width: 100%;
            margin: 0 auto;
            text-align: right;
            padding: 15px 0;
            position: relative;
            border-bottom: 2px solid #ffb9508a;

            h2{
                font: bold 30px/1 $subfont;
                color: $standard;
                letter-spacing: 0px;
                text-align: left;
                display: inline-block;
                position: absolute;
                bottom: 10px;
                left: 20px;
            }
            .searchBox{
                width: 300px;
                height: 30px;
                padding: 10px;
            }
            .searchBtn{
                width: 120px;
                height: 30px;
                border: none;
                margin: 0 20px;
                font: 14px/30px 'arial';
                background: $onblackbg;
                color: #fff;
                cursor: pointer;
            }            
        }
        //로딩바
        .loading{
            border: 15px inset $onblackbg;
            width: 150px;
            height: 150px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            animation: loading 2s linear infinite;    

            span{
                color: $standard;
                font: 18px/140px 'arial';
                text-align: center;
                display: block;
            }            
        }
        #imgs{
            width: 100%;
            transform: translateY(30vh);
            opacity: 0;
            transition: .5s;
            padding-bottom: 0px;
            border-bottom: 2px solid #ffb9508a;
            margin-bottom: 100px;

            &.on{
                transform: translateY(0);
                opacity: 1;
            }
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            // 갤러리 
            .item{
                width: calc(100%/5);
                height: 250px;
                float: left;
                padding: 20px 10px;
                border-bottom: 1px solid #3e3e3e;
                
                
                // 사진 wrap
                .wrap{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 20px;

                    &:hover{
                        .pic{
                            img{filter: grayscale(0);}
                        }
                        .txt{bottom: 0;}
                    }
                    .pic{
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: grayscale(.8);
                            transition: .5s;
                        }
                    }
                    .txt{
                        width: 100%; 
                        height: 30%;
                        background: linear-gradient(to top, rgba(17, 17, 17, 0.8), #ffffff00); ;
                        position: absolute;
                        bottom: -30%;
                        padding: 20px;
                        transition: .5s;
                        text-align: center;
                        h3{
                            font: bold 16px/1 $subfont;
                            color: $whitebg;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }
}

.popup_gallery{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0; left: 0;
    padding: 10vh 5vw;
    transition: ease-in-out;
    z-index: 10;
    h1{
        font: 30px/1 'arial';
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        position: absolute;
        top: 6vh;
        

        &::after{
            content: '';
            display: block;
            width: 60%;
            height: 3px;
            background: #ffb850;
            position: absolute;
            bottom: -15px;
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    span{
        position: absolute;
        top: 6vh; right: 5vw;
        cursor: pointer;
        color: $standard;
        font: 20px/1 $subfont;
        text-align: center;
        transition: .5s;
        &:hover{color: $onblackbg;}
    }
}

// 로딩바 애니메이션
@keyframes loading {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    50%{ border-width: 0px; }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}