.location{
    .inner{
        >section{
            padding-top: 30px;
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            .branch{
                width: 50%;
                padding: 10px;
                float: left;
                text-align: left;
                margin-bottom: 5px;
                button{
                    width: 100px;
                    height: 40px;
                    background: oldlace;
                    font: normal 14px/40px '맑은 고딕';
                    cursor: pointer;
                    color: #555;
                    border-radius: 40px;
                    margin-right: 20px;
                }
            }
            .traffic{
                width: 50%;
                padding: 10px;
                float: right;
                text-align: right;
                button{
                    width: 150px;
                    height: 40px;
                    background: oldlace;
                    font: normal 14px/40px '맑은 고딕';
                    cursor: pointer;
                    color: #555;
                    border-radius: 40px;
                    margin-left: 20px;
                }
            }
            #map{
                width: 100%;
                height: 500px;
                background: #000;
            }
            
        }
    }
}