.location{
    .subvisual{
        img{
            opacity: .7;
        }
    }
    .inner{
        width: 1180px;
        padding-top: 50px;
        >section{       
            // 교통정보 버튼 
            .traffic{
                width: 100%;
                text-align: right;
                padding: 5px;
                span{
                    font: 12px/1 $subfont;
                    color: $standard;
                }
                button{
                    height: 30px;
                    background: transparent;
                    font: normal 15px/1 '맑은 고딕';
                    cursor: pointer;
                    color: $whitebg;
                    border: none;
                    margin-left: 20px;

                    &:hover, &.on{ color: $onblackbg;}
                }
            }                 
 
            // 지도
            .wrapMap{
                width: 100%;
                height: 500px;
                position: relative;
                padding-bottom: 50px;
                border-bottom: 2px solid #ffb9508a;
            
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                } 
                .map_title{
                    float: left;
                    width: 35%;
                    padding: 20px;
                    
                    span{
                        font: bold 16px/1 $subfont;
                        color: #87878795;
                    }
                    >h1{
                        font: bold 40px/1 $subfont;
                        color: $onblackbg;
                        padding: 30px 0;
                        letter-spacing: 0;
                    }
                    p{
                        font: 300 16px/1.4 $subfont;
                        color: #b4b4b4;
                        font-style: italic;
                        letter-spacing: 1px;

                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px ;
                            background: #a4a4a4;
                            margin-top: 30px;
                        }
                    }
                }
                #map{
                    float: right;
                    width: 65%;
                    height: 100%;
                    filter: grayscale(.2);
                }                
            }

            // 지점 정보 및 버튼
            .branch{
                width: 100%;
                padding-bottom: 50px;
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                } 
                article{
                    width: calc((100% - 60px)/3);
                    float: left;
                    background: transparent;
                    cursor: pointer;
                    padding: 50px 30px;
                    margin-right: 30px;
                    transition: .5s;
                    border-bottom: 1px solid #a4a4a4;

                    &:last-child{margin-right: 0;}

                    &:hover, &.on{
                        background-color: rgba(75, 75, 75, 0.3);
                        .info{
                            h2{color: $onblackbg;}
                            address{color: $standard;}
                        }
                    }
                    .info{
                        h2{
                            font: bold 20px/1 '맑은 고딕';
                            margin-bottom: 20px;
                            color: $whitebg;
                            letter-spacing: 1px;
                            transition: .5s;
                        }          
                        address{
                            font: 14px/2 $subfont;
                            color: #989898;
                            letter-spacing: 1px;
                            transition: .5s;
                        }              
                    }

                }
            }               
            

            .contact{
                // border: 1px solid red;
                width: 100%;
                margin: 0 auto;
                position: relative;
                margin-top: 25px;
                padding-bottom: 50px;
                border-bottom: 2px solid #ffb9508a;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                } 
                h2{
                    width: 35%;
                    // border: 1px solid red;
                    float: left;
                    font: bolder 30px/1 $subfont;
                    color: $standard;
                    margin-bottom: 50px;
                    text-align: right;
                    padding: 0 50px;
                }
                form{    
                    width: 65%;
                    float: right;

                    input[type=text],input[type=email]{
                        width: 50%;
                        padding: 10px 20px;
                        background: $whitebg;
                        border: 1px solid $elite;
                        margin-bottom: 20px;
                    }
                    textarea{
                        width: 100%;
                        height: 180px;
                        resize: none;
                        margin-bottom: 20px;
                        float: left;
                        background: $whitebg;
                        padding: 10px;
                        border: 1px solid $elite;
                    }

                    input[type=submit]{
                        width: 200px;
                        height: 35px;
                        margin-top: 20px;
                        display: inline-block;
                        text-align: center;
                        font:bolder 14px/37px 'arial';
                        background: $onblackbg;
                        opacity: .9;
                        // border-radius: 20px;
                        border: none;
                        cursor: pointer;
                        color: #fff;
                        transition: .5s;

                        &:hover{ opacity: 1; }
                    }                                      
                }

            }

        }
    }
}

// 890px ~ 1179px
@media screen and(max-width: $tablet){
    .location{
        .inner{
            width: 100%;
            padding: 50px 20px 100px;
            >section{       
                // 교통정보 버튼              
     
                // 지도
                .wrapMap{
                    height: 500px;
                
                    .map_title{
                        span{font-size: 12px;}
                        >h1{font-size: 35px;}
                        p{ font-size: 12px;}
                    }           
                }
    
                // 지점 정보 및 버튼
                .branch{
                    width: 100%;
                    padding-bottom: 50px;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    } 
                    article{
                        padding: 50px 10px;
                        margin-right: 20px;

                        .info{
                            h2{font-size: 18px;}          
                            address{font-size: 12px;}              
                        }
    
                    }
                }               
                
                // submit form
                .contact{
                    h2{ padding: 0 30px; }
                    form{        
                        textarea{ width: 90%;}
                    }
    
                }
    
            }
        }
    }
}

// 750px ~ 889px
@media screen and(max-width: 889px){
    .location{
        .inner{
            >section{       
                // 교통정보 버튼              
                .traffic{
                    position: absolute;
                    top: 230px; right: 30px;
                    width: 100%;
                    text-align: right;
                    padding: 5px;
                }                 
     
                // 지도
                .wrapMap{
                    height: 770px;
                    .map_title{
                        float: left;
                        width: 50%;
                        padding: 20px 0;
                        
                        span{font-size: 12px;}
                        >h1{font-size: 35px;}
                        p{ font-size: 12px;}
                    }
                    #map{
                        float: left;
                        width: 100%;
                        height: 500px;
                        filter: grayscale(.2);
                    }                
                }
    
                // 지점 정보 및 버튼
                .branch{
                    article{
                        .info{
                            address{letter-spacing: 0;}              
                        }
    
                    }
                }
                
                // submit form
                .contact{
                    h2{font-size: 25px;}
                    form{        
                        input[type=submit]{
                            width: 150px;
                            font-size: 12px;
                        }
                    }
    
                }
            }
        }
    }  
}

// 540px ~ 749px
@media screen and(max-width: $mobile){
    .location{
        .inner{
            >section{       
                padding-bottom: 0;
                // 교통정보 버튼              
                .traffic{top: 220px; right: 20px;}                 
     
                // 지도
                .wrapMap{
                    padding-bottom: 30px;
                    height: 740px;
                    .map_title{
                        width: 60%;
                        padding: 15px 0;
                        >h1{font-size: 30px;}
                    }             
                }
    
                // 지점 정보 및 버튼
                .branch{
                    article{
                        width: 100%;
                        margin-right: 0;
                        padding: 30px 0;
                        .info{
                            &::after{
                                content: '';
                                display: block;
                                clear: both;
                            } 
                            h2{
                                float: left; 
                                width: 30%;
                                height: 72px;
                                margin-bottom: 0;
                                // border: 1px solid red;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            
                            address{
                                float: left;
                                letter-spacing: 1px;
                            }              
                        }
    
                    }
                }
                
                // submit form
                .contact{
                    margin-top: 0;
                    h2{width: 30%; font-size: 20px;}
                    form{    
                        width: 70%;    
                        input[type=text],input[type=email]{
                            width: 60%;
                            height: 30px;
                            margin-bottom: 10px;
                        }
                        input[type=submit]{
                            width: 150px;
                            font-size: 12px;
                            height: 30px;
                            line-height: 30px;
                        }
                    }
    
                }
            }
        }
    }  
}

// ~539px
@media screen and(max-width: 539px){
    .location{
        .inner{
            >section{       
                padding-bottom: 0;
                // 교통정보 버튼              
                .traffic{ 
                    top: 100px; right: 20px;
                    span{font-size: 10px;}
                    button{
                        font-size: 1px;
                        margin-left: 15px;
                    }
                }                 
     
                // 지도
                .wrapMap{
                    padding-bottom: 30px;
                    height: 520px;
                    .map_title{
                        width: 60%;
                        padding: 0;
                        >h1{padding: 20px 0; font-size: 25px;}
                        p{display: none;}
                    }
                    #map{height: 400px;}             
                }
    
                // 지점 정보 및 버튼
                .branch{
                    padding-bottom: 30px;
                    article{
                        padding: 30px;
                        .info{
                            &::after{
                                content: '';
                                display: block;
                                clear: both;
                            } 
                            h2{
                                float: left; 
                                width: 100%;
                                height: 100%;
                                margin-bottom: 20px;
                                // border: 1px solid red;
                                display: block;
                                font-size: 15px;
                            }
                            
                            address{
                                float: left;
                                letter-spacing: 1px;
                            }              
                        }
    
                    }
                }
                
                // submit form
                .contact{
                    h2{
                        width: 100%; 
                        margin-bottom: 20px;
                        text-align: left;
                        padding: 0 20px;
                    }
                    form{    
                        width: 100%;    
                        padding: 0 20px;
                        input[type=text],input[type=email]{
                            width: 70%;
                        }
                    }
    
                }
            }
        }
    }  
}