.youtube{
    .inner{
        section{
            width: 100%;

            // 미리보기
            .preview{
                // border: 1px solid red;
                width: 100%;
                height: 350px;
                margin-bottom: 100px;
                position: relative;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                    width: 100%;
                    height: 1px;
                    background-color: #3e3e3e;
                    position: absolute;
                    bottom: -100px;
                }
                .video{
                    // border: 1px solid red;
                    width: 50%;
                    height: 100%;
                    float: right;

                    iframe{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: brightness(.85);
                    }
                }
                >.con{
                    float: left;
                    width: 50%;
                    height: 100%;
                    padding: 40px 60px;
                    position: relative;
                    text-align: right;
                    opacity: 0;
                    transition: 3s .5s;
                    &.on{ opacity: 1; }

                    h2{
                        font: normal 28px/1.1 $subfont;
                        color: $standard;

                        span{
                            color: $onblackbg; 
                            font-size: 50px;
                            font-weight: bold;
                        }
                    }
                    p{
                        font: 300 16px/1.6 $subfont;
                        color: #878787;
                        padding-right: 60px;
                        position: absolute;
                        bottom: 20px;
                    }
                }
            }

            // 비디오 리스트
            .vidList{
                border: none;
                width: 100%;
                
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }                
                .vids{
                    width: calc(100%/3);
                    height: 350px;
                    float: left;
                    position: relative;
                    transition: .5s;
                    border-bottom: 1px solid #3e3e3e;
                    
                    &:hover{
                        background-color: rgba(75, 75, 75, 0.3);
                        .wrap{
                            .con h2{color: $onblackbg;}
                            .pic{
                                filter: grayscale(0); 
                                img{transform: scale(1.1);}
                                
                            }
                        }
                    }

                    .wrap{
                        width: 100%;
                        padding: 20px;
                        position: absolute;
                        top: 0;

                        .pic{
                            width: 100%;
                            padding: 0px;
                            filter: grayscale(.5);
                            cursor: pointer;
                            overflow: hidden;
                            margin-bottom: 10px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: .5s;
                            }
                        }
                        .con{
                            color: $standard;
                            padding: 10px;
                            position: relative;
                            
                            h2{
                                font: bold 20px/1 $subfont;
                                word-break: break-all;
                                color: #ddd;
                                // text-align: center;
                            }
                            p{
                                padding: 10px 0;
                                font: 300 14px/1.2 $subfont;
                                
                                color: #878787;
                                word-break: break-all;
                            }
                            span{
                                font: normal 12px/1 $subfont;
                                color: #999;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                            }
                        }
                    }

                }
            }
        }
    }
}

.popup{
    width: 100%;
    height: 100vh;
    padding: 8vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);

    span{
        position: absolute;
        top: 5vw;
        right: 3vw;
        cursor: pointer;
        color: $standard;
        font: 15px/30px $subfont;
        text-align: center;
        transition: .5s;
        &:hover{color: $onblackbg;}
        
    }
}

// 890px ~ 1179px
@media screen and(max-width: $tablet){
    .youtube{
        .inner{
            padding-top: 50px;
            section{    
                // 미리보기
                .preview{
                    // border: 1px solid red;
                    height: 300px;
                    margin-bottom: 50px;

                    &::after{ bottom: -50px; }
                    >.con{
                        padding: 30px;
    
                        h2{
                            font-size: 28px;
                            span{font-size: 40px;}
                        }
                        p{
                            font: 300 14px/1.5 $subfont;
                            padding-right: 30px;
                            bottom: 15px;
                        }
                    }
                }
    
                // 비디오 리스트
                .vidList{             
                    .vids{
                        height: 300px;
    
                        .wrap{
                            padding: 10px;

                            .con{
                                padding: 5px;
                                
                                h2{font-size: 18px;}
                                p{font-size: 12px;}
                                span{bottom: -10px;}
                            }
                        }
                    }
                }
            }
        }
    }
}

// 750px ~ 889px
@media screen and(max-width: 889px){
    .youtube{
        .inner{
            padding-bottom: 0px;
            section{    
                // 미리보기
                .preview{
                    margin-bottom: 30px;
                    &::after{ bottom: -30px; }
                }
    
                // 비디오 리스트
                .vidList{             
                    .vids{
                        height: 280px;
    
                        .wrap{
                            padding: 10px;

                            .con{
                                padding: 5px;
                                
                                h2{font-size: 18px;}
                                p{font-size: 12px;}
                                span{display: none;}
                            }
                        }
                    }
                }
            }
        }
    }    
}

// 540px ~ 749px
@media screen and(max-width: $mobile){
    .youtube{
        .inner{
            section{    
                // 미리보기
                .preview{
                    height: 380px;

                    .video{
                        width: 100%;
                        height: 300px;
                        float: left;
                    }
                    >.con{
                        float: left;
                        width: 100%;
                        height: 20%;
                        padding: 0 10px;
                        text-align: left;
                        margin-bottom: 15px;

                        p{display: none;}
                    }
                }
    
            // 비디오 리스트
            .vidList{               
                .vids{
                    width: calc(100%/2);
                }
            }
            }
        }
    }
}

// ~539px
@media screen and(max-width: 539px){
    .youtube{
        .inner{
            padding-top: 20px;
            section{    
                // 미리보기
                .preview{
                    height: 320px;

                    .video{height: 250px;}
                    >.con{
                        float: left;
                        width: 100%;
                        height: 20%;
                        padding: 0 10px;
                        text-align: left;
                        margin-bottom: 0px;

                        h2{
                            font-size: 20px;
                            span{font-size: 30px;}
                        }
                    }
                }
    
            // 비디오 리스트
            .vidList{               
                .vids{
                    width: calc(100%/1);
                    height: 65vw;
                    .wrap{ 
                        padding-bottom: 0;

                        .con{
                            h2{
                                text-align: center;
                                font-size: 16px;}
                            p{display: none;}
                        }
                    }
                }
            }
            }
        }
    }
}