.youtube{
    .inner{
        .channerInfo{
            border: 1px solid red;
            width: 100%;
            padding: 50px 0;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            .pic{
                width: 300px;
                // height: 300px;
                border: 1px solid red;
                float: left;
                text-align: center;
                img{
                    display: inline-block;
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    margin-bottom: 20px;
                }
                a{
                    display: inline-block;
                    text-align: center;
                    width: 150px;
                    height: 40px;
                    background: $red;
                    border-radius: 5px;
                    font: bold 18px/44px $subfont;
                    color: $standard;
                }
            }
            .con{
                border: 1px solid red;
                width: calc(100% - 300px);
                float: right;
                padding: 30px;
            }
        }
        section{
            width: 100%;

            .vidList{
                border: 1px solid red;
                width: 100%;
                padding: 50px 0;

                .vids{
                    border: 1px solid red;
                    width: 100%;
                    height: 480px;
                    margin: 0 5%;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    .wrap{
                        width: 20%;
                        float: left;
                        .pic{
                            width: 100%;
                            padding: 0px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .con{
                            color: $elite;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}