#btns {
    position: fixed;
    top: 50%;
    right: 0.5vw;
    transform: translateY(-50%);
    z-index: 5;

    li {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        border: 1px solid $standard;
        background: transparent;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.5s;
        transform: translateX(-50%);

        &.on {
            width: 5px;
            height: 75px;
            border: none;
            background: $onblackbg;
            border-radius: 10px;
        }
    }
}
