#info{
    width: 100%;
    height: 50vh;
    padding: 100px 0;

    .inner{
        border-bottom: 1px solid $elite;
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
}