#intro{
    width: 100%;
    height: 80vh;
    padding: 100px 0;
    position: relative;
    overflow: hidden;

    &::before{
        content: '';
        display: block;
        width: 1180px;
        height: 1px;
        background: $elite;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    // 배경 원모양
    .back1{
        width: 700px;
        height: 700px;
        border-radius: 50%;
        background: #f79f1b8c;
        z-index: -1;
        position: absolute;
        left: -450px;
        bottom: -450px;
        transition: ease-out 1.5s ;
    }
    .back2{
        width: 700px;
        height: 700px;
        border-radius: 50%;
        background: #eb001b8c;
        z-index: -1;
        position: absolute;
        right: -500px;
        top: -500px;
        transition: ease-out 1.5s;
    }
    
    // 본문내용
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        // 스와이퍼
        .swiper{
            width: 100%;
            height: 100%;
            // border: 1px solid red;
            .swiper-slide-prev{opacity: 0;}
            .swiper-slide{
                width: 100%;
                height: 100%;


                // 스와이퍼 내부 모양
                article{
                    width: 100%;
                    height: 100%;
                    // border: 1px solid red;

                    .txt{
                        width: 60%;
                        float: left;
                        //position: relative;
                        >span{
                            font: 14px/1 'arial';
                            color: #767676;
                            display: block;
                            margin-bottom: 20px;
                        }
                        h1{
                            font: normal 60px/1.2 'arial';
                            color: $standard;
                            
                            img{
                                height: 20px;
                                transform: translate(-10px ,-15px);
                            }
                        }
                        .con{
                            width: 210px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-90%, -80%);
                            p{
                                color: #ccc;
                                font: 16px/1.6 'arial';
                                margin-bottom: 50px;
                            }
                            a{
                                span{
                                    font-size: 14px;
                                    color: $onblackbg;
                                    text-decoration: underline;
                                }
                            }                    
                        }

                    }
                    .pic{
                        width: 40%;
                        height: 100%;
                        float: right;
                        background: #111;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    
                }                
            }


        }

        .swiper-pagination-bullet{
            width: 20px;
            height: 20px;
            background: transparent;
            border: 3px solid $standard;
            transition: .2s;

            &.swiper-pagination-bullet-active{
                background: $standard;
            }
        }
    }
}

// 890px ~ 1179px
@media screen and(max-width: $tablet){
    #intro{
        padding: 100px 3vw;
    
        &::before{ width: 95%; }

        // 배경 원모양
        .back1{
            width: 600px;
            height: 600px;
        }
        .back2{
            width: 600px;
            height: 600px;
        }
        
        // 본문내용
        .inner{
            width: 100%;
    
            // 스와이퍼
            .swiper{
                .swiper-slide{
                    // 스와이퍼 내부 모양
                    article{
                        .txt{
                            h1{ font-size: 50px; }
                            .con{
                                width: 200px;
                                transform: translate(-70%, -80%);
                                p{
                                    color: #ccc;
                                    font: 12px/1.4 'arial';
                                    margin-bottom: 50px;
                                }
                                a{
                                    span{font-size: 12px;}
                                }                    
                            }
                        }
                    }                
                }
            }
    
            .swiper-pagination-bullet{
                width: 18px;
                height: 18px;
            }
        }
    }
}

// 750px ~ 889px
@media screen and(max-width: 889px){
    #intro{
        // 배경 원모양
        .back1{
            width: 550px;
            height: 550px;
        }
        .back2{
            width: 550px;
            height: 550px;
        }
        
        // 본문내용
        .inner{
            // 스와이퍼
            .swiper{
                .swiper-slide{
                    // 스와이퍼 내부 모양
                    article{
                        .txt{
                            .con{
                                transform: translate(-80%, 0%);
                                p{ margin-bottom: 20px; }                  
                            }
                        }
                    }                
                }
            }
        }
    }
}

// 540px ~ 749px
@media screen and(max-width: $mobile){
    #intro{
        padding: 80px 5vw;
        // 배경 원모양
        .back1{
            width: 500px;
            height: 500px;
        }
        
        // 본문내용
        .inner{
            // 스와이퍼
            .swiper{
                .swiper-slide{
                    // 스와이퍼 내부 모양
                    article{
                        .txt{
                            width: 50%;
                            h1{
                                font-size: 45px;
                            }
                            .con{
                                transform: translate(-110%, -10%);               
                            }
                        }
                        .pic{
                            width: 50%;
                            height: 100%;
                            float: right;
                        }
                    }                
                }
            }
            .swiper-pagination-bullet{
                transform: translate(-40px, 10px);
            }
        }
    } 
}

// 450~539px
@media screen and(max-width: 539px){
    #intro{
        padding: 60px 5vw;
        // 배경 원모양
        .back1{
            width: 450px;
            height: 450px;
        }
        .back2{
            width: 500px;
            height: 500px;
        }

        // 본문내용
        .inner{
            // 스와이퍼
            .swiper{
                height: 100%;
                .swiper-slide{
                    height: 85%;
                    // 스와이퍼 내부 모양
                    article{
                        .txt{
                            width: 100%;
                            margin-bottom: 20px;
                            h1{
                                font-size: 35px;
                                img{
                                    height: 15px;
                                    transform: translate(-5px ,-10px);
                                }
                            }
                            .con{
                                position: absolute;
                                top: 0;
                                left: auto;
                                right: 0;
                                transform: translate(0%, 30%);    
                                p{
                                    color: #ccc;
                                    font: 12px/1.2 'arial';
                                    margin-bottom: 10px;
                                }
                                a{
                                    span{font-size: 10px;}
                                }               
                            }
                        }
                        .pic{
                            width: 100%;
                            height: 70%;
                            float: left;
                        }
                    }                
                }
            }
            .swiper-pagination-bullet{
                transform: translate(0, 15px);
            }
        }
    } 
}

// ~449px
@media screen and(max-width: 449px){
    #intro{
        // 본문내용
        .inner{
            // 스와이퍼
            .swiper{
                .swiper-slide{
                    // 스와이퍼 내부 모양
                    article{
                        .txt{
                            .con{ display: none; }
                        }
                    }                
                }
            }
        }
    } 
}