#news{
    width: 100%;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    
    &::before{
        content: '';
        display: block;
        width: 1180px;
        height: 1px;
        background: $elite;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        main{
            width: 100%;
            margin: 0 auto;
            
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            .start{
                float: left;
                // border: 1px solid red;
                width: 70%;
                .box{
                    width: 240px;
                    height: 240px;
                    display: inline-block;
                    border: 3px solid $standard;
                    border-radius: 50%;
                    position: relative;

                    .circle{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: $standard;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        animation: circle 2s infinite linear;
                    }
                }
                p{
                    display: inline-block;
                    font: normal 60px/1 $subfont;
                    color: $standard;
                    margin-left: 80px;
                    opacity: .3;
                    transition: 1s;
                    transform: translateY(100px);
                }
            }
            .more{
                // border: 1px solid red;
                width: 30%;
                position: absolute;
                right: 0;
                bottom: -100px;
                opacity: .3;
                transition: 1s .2s;
                p{
                    font: 300 20px/1.1 $subfont;
                    color: #989898;
                    margin-bottom: 30px;
                }
                a{
                    font: 16px/1 $subfont;
                    color: $onblackbg;
                    text-decoration: underline;
                }
            }
        }

    }
}


// 890px ~ 1179px
@media screen and(max-width: $tablet){
    #news{
        padding: 100px 3vw;

        &::before{ width: 95%; }
    
        .inner{
            width: 100%;
            main{
                width: 100%;
                .start{
                    float: left;
                    width: 100%;
                    margin-bottom: 20px;
                    text-align: center;
                    p{
                        font: normal 60px/1 $subfont;
                        text-align: left;
                    }
                }
                .more{
                    width: 360px;
                    position: initial;
                    float: left;
                    transform: translateX(42vw);
                }
            }
        }
    }   
}

// 715px ~ 889px
@media screen and(max-width: 889px){
    #news{
        .inner{
            main{
                .start{
                    .box{
                        width: 200px;
                        height: 200px;
                    }
                    p{
                        font-size: 55px;
                        margin-left: 50px;
                    }
                }
                .more{
                    // border: 1px solid red;
                    width: 360px;
                    position: initial;
                    float: left;
                    transform: translateX(38vw);
                }
            }
        }
    }   
}

// 540px ~ 714px
@media screen and(max-width: 714px){
    #news{
        padding: 80px 5vw;
        .inner{
            main{
                .start{
                    margin-bottom: 0;
                    .box{
                        width: 200px;
                        height: 200px;
                        margin-bottom: 30px;
                    }
                    p{
                        display: block;
                        font: normal 50px/1.2 $subfont;
                        text-align: center;
                        margin-left: 0;
                    }
                }
                .more{ display: none;}
            }
        }
    }  
}

// ~539px
@media screen and(max-width: 539px){
    #news{
        padding: 60px 5vw;
        .inner{
            main{
                .start{
                    p{
                        font: normal 42px/1.2 $subfont;
                    }
                }
            }
        }
    } 
}


@keyframes circle{
    0%{
        width: 20%;
        height: 20%;
    }

    50%{
        width: 100%;
        height: 100%;
    }

    100%{
        width: 20%;
        height: 20%;
    }
}