@charset "UTF-8";

$tablet: 1179px;
$mobile: 749px;

/*
반응형
// 890px ~ 1179px
@media screen and(max-width: $tablet){
    
}

// 750px ~ 889px
@media screen and(max-width: 889px){
    
}

// 540px ~ 749px
@media screen and(max-width: $mobile){
    
}

// ~539px
@media screen and(max-width: 539px){

}
*/

$subfont: 'markformc-lt';

// brandcolor
$red: #eb001b;
$yellow: #f79e1b;
$orange: #ff5f00;

// backgrond
$blackbg : #212121;
$onblackbg : #ffb850;

$whitebg : #f3f3f3;
$onwhitebg : #ffbe99;

// cardcolor
$wolrd : #304350;
$standard : #e4e4e4;
$elite : #2e2e2e; 



//common
@import "common/reset";
@import "common/layout";
@import "common/header";
@import "common/footer";

//main
@import "mainpage/visual";
@import "mainpage/intro";
@import "mainpage/news";
@import "mainpage/info";
@import "mainpage/btns";

//sub
@import "subpage/department";
@import "subpage/community";
@import "subpage/gallery";
@import "subpage/youtube";
@import "subpage/location";
@import "subpage/join";

body{
    background-color: $blackbg;
}